/*
	Ex Machina by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}

	body,input,textarea,select
	{
		font-size: 11pt;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 6em 0em;
	}

	.homepage #banner
	{
		padding: 7em 0em;
	}
	
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 2em 0em 6em 0em;
	}
	
	.homepage #page
	{
		padding: 6em 0em;
	}

	#main
	{
		margin-top: 3em;
		padding-top: 2em;
		border-top: none;
	}
	
	.homepage #main
	{
		margin-top: -4em;
		padding-top: 0em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		padding: 0em 0em 4em 0em;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
	
	#featured
	{
		padding: 4em 0em;
	}

	
	#featured .divider
	{
		padding: 2em 0em;
	}
	
