.img_logo {
	/*margin-bottom: 5px !important;*/
	width: 60%;
	height: 60%;
}

/*#logo {
	margin-bottom: 5px !important;
	width: 60%;
	height: 60%;

}*/

.abc{

	font-size: 30;
	color: white;
}

.logo1{
	position: relative;

}

.container .sect > div{
	width: 40%;
	float: left;


}